<div class="table-container mat-elevation-z1">
  <table mat-table [dataSource]="elements" style="width:100%" >
    <ng-container *ngFor="let entry of entries" matColumnDef="{{entry.key}}">
      <th mat-header-cell *matHeaderCellDef style="max-width: 200px"
        [ngClass]="{'check-header': entry.type === fieldType.check}" [ngSwitch]="entry.type">
        <span *ngSwitchCase="fieldType.inputNumber" class="head-number">{{entry.display}}</span>
        <span *ngSwitchDefault>{{entry.display}}</span>
      </th>
      <td mat-cell *matCellDef="let element" (click)="showData(element, this._classConfig)" style="max-width: 200px"
        [ngSwitch]="entry.type">
        <span
          *ngSwitchDefault>{{!getValue(element,entry.key) || getValue(element,entry.key) === ''? '-': getValue(element,entry.key) }}
        </span>
        <span *ngSwitchCase="fieldType.inputNumber"
          class="cell-number">{{((!getValue(element,entry.key) || getValue(element,entry.key) === '')? 0 : getValue(element,entry.key) )}}
        </span>
        <span
          *ngSwitchCase="fieldType.date">{{(!getValue(element,entry.key) || getValue(element,entry.key) === ''? '': getValue(element,entry.key) )| date: 'short' }}
        </span>
        <span *ngSwitchCase="fieldType.check" class="check-cell" [innerHTML]="
        getValue(element,entry.key) !== undefined?
          (entry.options? (
            entry.options.length > 0?
              (
                getValue(element,entry.key)?
                  entry.options[0]:entry.options[1]
              ):
              (
                getValue(element,entry.key)? 'Si': 'No'
              )
          ) :
          (
            getValue(element,entry.key)? 'Si': 'No'
          )
          )
        : '-'
        "> </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="row-actions">
      <th mat-header-cell *matHeaderCellDef class="head-action"
        [ngStyle]="{'max-width.px': this._actions.length*40, 'min-width.px': this._actions.length*20}">
        Acciones
      </th>
      <td mat-cell *matCellDef="let element" class="cell-action"
        [ngStyle]="{'max-width.px': this._actions.length*40, 'min-width.px': this._actions.length*20}">
        <button class="btn_table" mat-raised-button color="{{action.colorResolver? action.colorResolver(element):'primary'}}" *ngFor="let action of _actions"
          (click)="emitter(action, element)">
          {{action.text? action.text: action.textResolver(element)}}</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="rowDef; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: rowDef;"></tr>
  </table>
</div>


<mat-paginator #paginator [length]="length" [pageSize]="size" [pageSizeOptions]="this.pageSizeOptions" (page)="changePage($event)"
  class="mat-elevation-z1">
</mat-paginator>