.head-number {
    display: block;
    text-align: center;
}
.cell-number {
    display: block;
    text-align: center;
}
.head-action {
    text-align:center;
}
.cell-action {
    text-align:center;
}
.table-container {
    max-height: 60%;
    overflow-y: auto;
}
.btn_table {
    margin-left: 5px;
}