<div fxLayout="row" fxLayoutAlign="space-between center">
    <span>
        {{data.message}}
    </span>
    <button mat-icon-button (click)="snackRef.dismiss()">
        <mat-icon >close</mat-icon>
    </button>
</div>

