<div class="g-list-dd-container" *ngFor="let listConfig of listConfigs">

  <h2>{{listConfig.title}}</h2>

  <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="listConfig.data"
    [cdkDropListConnectedTo]="connectTo(todoList, listConfig)" class="g-list-dd-list"
    (cdkDropListDropped)="drop($event)">
    <div class="g-list-dd-box" *ngFor="let item of listConfig.data" cdkDrag>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{getValue(item, listConfig.item.title)}}
          </mat-panel-title>
          <mat-panel-description *ngIf="listConfig.item.description">
            {{getValue(item, listConfig.item.description)}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap">
          <span fxFlex="50" *ngFor="let fieldConf of _fieldConfigs" class="detail-item">
            <span>{{fieldConf.display}}</span>
            <span *ngIf="fieldConf.typeFilter != fieldType.check">{{getValue(item, fieldConf.key)}}</span>
            <span *ngIf="fieldConf.typeFilter === fieldType.check" class="check-cell" [innerHTML]="
      getValue(item, fieldConf.key) !== undefined?
        (fieldConf.options? (
          fieldConf.options.length > 0?
            (
              getValue(item, fieldConf.key)?
              fieldConf.options[0]:fieldConf.options[1]
            ):
            (
              getValue(item, fieldConf.key)? 'Si': 'No'
            )
        ) :
        (
          getValue(item, fieldConf.key)? 'Si': 'No'
        )
        )
      : '-'
      "> </span>
          </span>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>