.g-list-dd-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .g-list-dd-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    display: block;
    padding: 10px 10px 5px 10px;
    height: 500px;
    max-height: 100%;
    overflow-y: auto;
    border: dashed 2px #ccc;

  }
  
  .g-list-dd-box {
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: move;
    background: white;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .g-list-dd-box .mat-expansion-panel {
      width: 100%;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .g-list-dd-box:last-child {
    border: none;
  }
  
  .g-list-dd-list.cdk-drop-list-dragging .g-list-dd-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

.detail-item {
  margin-bottom: 10px; 
}
.detail-item > :first-child {
  display: block;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 400;
}