<div class="dialog-wrapper">
    <h2 mat-dialog-title class="error-title">Hay Problemas!</h2>
    <mat-dialog-content class="error-content mat-typography">
      <span *ngIf="!data.errors || data.errors.length === 0">Por favor revise la operación realizada. Si el error persiste contactese con un administrador.</span>
      <span *ngIf="data.errors && data.errors.length === 1" [innerHTML]="data.errors[0]"></span>
      <div *ngIf="data.errors &&  data.errors.length > 1">
        <span>Se detectaron los siguientes problemas:</span>
        <ul>
          <li *ngFor="let error of data.errors"  [innerHTML]="error"></li>
        </ul>
      </div>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button [mat-dialog-close]="false" cdkFocusInitial color="primary">Ok</button>
    </mat-dialog-actions>
  </div>
  