<div id="gfilter" class="mat-elevation-z1"  fxLayout="row wrap" fxLayoutAlign="start center" (keydown.enter)="onEnterKeydown($event)">
  <span fxFlex="100" id="title-tag">Búscar {{entityName}} por filtro</span>
  <mat-form-field *ngIf="_fieldConfig && _fieldConfig.length > 1">

    <mat-select placeholder="Campo a filtrar" [(ngModel)]="this.field" (ngModelChange)="changeField()">
      <mat-option *ngFor="let f of _fieldConfig" [value]="f">
        {{f.display}}
      </mat-option>
    </mat-select>

  </mat-form-field>

  <div class="filter-input"  *ngIf="!!this.field" [ngClass]="{'one-filter':_fieldConfig.length === 1}">
      <mat-form-field *ngIf="field.isFilter && field.typeFilter == typeFilterHGeneric.inputText">
        <input #input matInput placeholder="{{field.display}}" [(ngModel)]="this.filtersValue[field.key]">
      </mat-form-field>

      <mat-form-field *ngIf="field.isFilter && field.typeFilter == typeFilterHGeneric.inputNumber">
        <input #input type="number" matInput placeholder="{{field.display}}" [(ngModel)]="this.filtersValue[field.key]">
      </mat-form-field>

      <mat-form-field *ngIf="field.isFilter && field.typeFilter == typeFilterHGeneric.select ">

        <mat-select (openedChange)="opChange($event)" #input placeholder="{{field.display}}" [(ngModel)]="this.filtersValue[field.key]">
          <mat-option></mat-option>
          <mat-option *ngFor="let food of field.options" [value]="food.key">
            {{food.display}}
          </mat-option>
        </mat-select>

      </mat-form-field>

      <mat-form-field *ngIf="field.isFilter && field.typeFilter == typeFilterHGeneric.check">

        <mat-select (openedChange)="opChange($event)" #input placeholder="{{field.display}}"
        [(ngModel)]="this.filtersValue[field.key]">
          <mat-option></mat-option>
          <mat-option  [value]="true">
            {{field.optionsCheck[0]}}
          </mat-option>
          <mat-option  [value]="false">
            {{field.optionsCheck[1]}}
          </mat-option>
        </mat-select>

      </mat-form-field>
      <mat-form-field *ngIf="field.isFilter && field.typeFilter == typeFilterHGeneric.date">
        <input id="inputDate" matInput
        [matDatepicker]="dateFilter"
        [placeholder]="field.display"
        [(ngModel)]="this.filtersValue[field.key]"
        >
        <mat-datepicker-toggle matSuffix [for]="dateFilter" ></mat-datepicker-toggle>
        <mat-datepicker  #input  #dateFilter disabled="false"
        (closed)="onCloseDatePicker($event, field)"
        startView="month"></mat-datepicker>
      </mat-form-field>
  </div>

  <button class="btn_stl"   (click)="this.doFilter()"  mat-raised-button>Buscar</button>
  <button class="btn_stl" [disabled]="isCleanFilterValue()" (click)="this.clean()"  mat-raised-button>Limpiar Busqueda</button>

</div>

