#gfilter {
    padding: 10px;
    padding-top: 10px;
    padding-left: 24px;
    background: #fff;
    margin-bottom: 10px;
}
#gfilter > * {
    margin-right: 10px;
}
.one-filter .mat-form-field {
    min-width: 360px;
}
#title-tag {
    margin-bottom: 10px;
}