.dialog-wrapper {
  max-width: 800px;
  margin: 5px 2px 5px 2px;
}

.mat-typography {
  color: gray;
  font-size: medium;
  margin-bottom: 15px;
}

// .mat-raised-button {
//   padding: 5px 25px 5px 25px;
//   margin: 0px 5px 0px 5px;
// }
.title-alert {
  color: #EF5350;
}
