<div class="dialog-wrapper">
  <h2 mat-dialog-title color="warn" [ngClass]="{'title-alert':data.alert}">{{data.title}}</h2>
  <mat-dialog-content class="mat-typography">
    <p [innerHTML]="data.message"></p>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button [mat-dialog-close]="false">Cancelar</button>
    <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial color="{{data.alert? 'warn': 'primary'}}">Aceptar</button>
  </mat-dialog-actions>
</div>
